
body{

    background-color: black;
    color: white;
    font-family: 'Sriracha', cursive;
}
}
h1 {
  font-size: 50px;
  text-align: center;
  
}

h2 {
  font-size: 10px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  color:
}

.first {
  display: flex;
}

ol {
  text-align: center;
}

.one {
  font-size: 60px;
}

.two {
  font-size: 58px;
}

.three {
  font-size: 56px;
}

.four {
  font-size: 54px;
}

.five {
  font-size: 52px;
}

.six {
  font-size: 50px;
}

.seven {
  font-size: 48px;
}

.eight {
  font-size: 46px;
}

.nine {
  font-size: 44px;
}

.ten {
  font-size: 42px;
}

.eleven {
  font-size: 40px;
}

.twelve {
  font-size: 38px;
}

.thirteen {
  font-size: 36px;
}

.fourteen {
  font-size: 34px;
}

.fifteen {
  font-size: 32px;
}

.sixteen {
  font-size: 32px;
}

.seventeen {
  font-size: 30px;
}

.eighteen {
  font-size: 28px;
}

.twenty {
  font-size: 26px;
}

.twentyone {
  font-size: 24px;
}

.twentytwo {
  font-size: 22px;
}

.twentythree {
  font-size: 20px;
}

.twentyfour {
  font-size: 18px;
}

.twentyfive {
  font-size: 16px;
}

.twentysix {
  font-size: 14px;
}

.twentyseven {
  font-size: 12px;
}

.twentyeight {
  font-size: 10px;
}

.twentynine {
  font-size: 8px;
}

.thirty {
  font-size: 6px;
}

.thirtyone {
  font-size: 4px;
}

.thirtytwo {
  font-size: 4px;
}

.thirtythree {
  font-size: 4px;
}

.thirtyfour {
  font-size: 2px;
}

.thirtyfive {
  font-size: 2px;
}
