.intro {
  font-size: 30px;
  font-family: "Krona One";
  margin-top: 600px;
  text-align: center;
}

.p1 {
  font-size: 30px;
  font-family: "Krona One";
  margin-top: 600px;
  text-align: center;
}

.p2 {
  font-size: 30px;
  font-family: "Krona One";
  margin-top: 600px;
  text-align: center;
}

.p3 {
  font-size: 30px;
  font-family: "Krona One";
  margin-top: 600px;
  text-align: center;
}

.p4 {
  font-size: 30px;
  font-family: "Krona One";
  margin-top: 600px;
  text-align: center;
}

.p5 {
  font-size: 30px;
  font-family: "Krona One";
  margin-top: 600px;
  text-align: center;
}

.p6 {
  font-size: 30px;
  font-family: "Krona One";
  margin-top: 600px;
  text-align: center;
}

.p7 {
  font-size: 30px;
  font-family: "Krona One";
  text-align: center;
}
