
body{

    background-color: black;
    color: white;
    font-family: "Abel", sans-serif;
}
}
h1 {
  font-size: 50px;
  text-align: center;
  
}

h2 {
  font-size: 10px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;

}

.first {
  display: flex;
}

ol {
  text-align: center;
}

.one {
  font-size: 13px;
  color: rgb(248,248,248)

}

.two {
  font-size: 13px;
  color: rgb(248,248,248)
}

.three {
  font-size: 13px;
  color: 	rgb(245,245,245)
  
}

.four {
  font-size: 13px;
  color: 	rgb(245,245,245)
  
}

.five {
  font-size: 13px;
  color:rgb(240,240,240)
 
}

.six {
  font-size: 13px;
  color: 	rgb(240,240,240)
  
}

.seven {
  font-size: 13px;
  color: 	rgb(220,220,220)
  
}

.eight {
  font-size: 13px;
  color: rgb(208,208,208)
  
}

.nine {
  font-size: 13px;
  color: 	rgb(200,200,200)
  
}

.ten {
  font-size: 13px;
  color: rgb(192,192,192)
  
}

.eleven {
  font-size: 13px;
  color: rgb(184,184,184)
  
}

.twelve {
  font-size: 13px;
  color: 	rgb(176,176,176)
 
}

.thirteen {
  font-size: 13px;
  color: 	rgb(169,169,169)
  
}

.fourteen {
  font-size: 13px;
  color: rgb(168,168,168)
 
}

.fifteen {
  font-size: 13px;
  color: rgb(152,152,152)
}

.sixteen {
  font-size: 13px;
  color: 	rgb(136,136,136)

}

.seventeen {
  font-size: 13px;
  color: 	rgb(128,128,128)
  
}

.eighteen {
  font-size: 13px;
  color: 	rgb(120,120,120)
}

.nineteen {
  font-size: 13px;
  color: 	rgb(120,120,120)
}

.twenty {
  font-size: 13px;
  color: 	rgb(112,112,112)
}

.twentyone {
  font-size: 13px;
  color: rgb(105,105,105)
}

.twentytwo {
  font-size: 13px;
  color: rgb(104,104,104)
  
}

.twentythree {
  font-size: 13px;
  color: 	rgb(104,104,104)
  
}

.twentyfour {
  font-size: 13px;
  color: 	rgb(80,80,80)
 
}

.twentyfive {
  font-size: 13px;
  color: 	rgb(80,80,80)
  
}

.twentysix {
  font-size: 13px;
  color: 	rgb(80,80,80)
  
}

.twentyseven {
  font-size: 13px;
  color: 	rgb(72,72,72)
 
}

.twentyeight {
  font-size: 13px;
  color: 	rgb(72,72,72)
  
}

.twentynine {
  font-size: 13px;
  color:	rgb(64,64,64)
  
}

.thirty {
  font-size: 13px;
  color: 	rgb(56,56,56)
  
}

.thirtyone {
  font-size: 13px;
  color: 	rgb(56,56,56)
  
}

.thirtytwo {
  font-size: 13px;
  color: 	rgb(48,48,48)
  
}

.thirtythree {
  font-size: 13px;
  color: rgb(40,40,40)
  
}

.thirtyfour {
  font-size: 13px;
  color: rgb(32,32,32)
  
}

.thirtyfive {
  font-size: 13px;
  color: 	rgb(16,16,16)
  
}

.filler{
  font-size: 20px;
  color: 	rgb(248,248,248)
  
}

.a{
  font-size: 20px;
  color:rgb(248,248,248)
  
}

.b{
  font-size: 20px;
  color: 	rgb(248,248,248)
  
}

.c{
  font-size: 20px;
  color: 	rgb(245,245,245)
  
}

.d{
  font-size: 20px;
  color: 	rgb(245,245,245)

}

.e{
  font-size: 20px;
  color: 	rgb(240,240,240)
  
}

.f{
  font-size: 20px;
  color: 	rgb(240,240,240)
  
}

.g{
  font-size: 20px;
  color: 	rgb(220,220,220)
  
}

.h{
  font-size: 20px;
  color: rgb(208,208,208)
  
}

.i{
  font-size: 20px;
  color: rgb(200,200,200)
  
}

.j{
  font-size: 20px;
  color: rgb(192,192,192)
  
}

.k{
  font-size: 20px;
  color: rgb(184,184,184)
  
}

.l{
  font-size: 20px;
  color: 	rgb(176,176,176)
}

.m{
  font-size: 20px;
  color: 	rgb(169,169,169)
 
}

.n{
  font-size: 20px;
  color: rgb(168,168,168)
}

.o{
  font-size: 20px;
  color: rgb(152,152,152)
}

.p{
  font-size: 20px;
  color: 	rgb(136,136,136)
  
}

.q{
  font-size: 20px;
  color: 	rgb(128,128,128)
}

.r{
  font-size: 20px;
  color: 	rgb(120,120,120)
}

.s{
  font-size: 20px;
  color: 	rgb(112,112,112)
    
}

.t{
  font-size: 20px;
  color: rgb(105,105,105)
}

.u{
  font-size: 20px;
  color: rgb(104,104,104)
}

.v{
  font-size: 20px;
  color: 	rgb(96,96,96)
  
}

.w{
  font-size: 20px;
  color: rgb(88,88,88)
}

.x{
  font-size: 20px;
  color: 	rgb(88,88,88)
    
}

.x2{
  font-size: 20px;
  color: 	rgb(88,88,88)
}

.y{
  font-size: 20px;
  color: 	rgb(80,80,80)
    
}

.z{
  font-size: 20px;
  color: 	rgb(80,80,80)
}

.a1{
  font-size: 20px;
  color: 	rgb(72,72,72)
    
}

.a2{
  font-size: 20px;
  color: 	rgb(72,72,72)
 
}

.a3{
  font-size: 20px;
  color: 	rgb(64,64,64)
  
}

.a4{
  font-size: 20px;
  color: 	rgb(56,56,56)
    
}

.a5{
  font-size: 20px;
  color: 	rgb(48,48,48)
}

.a6{
  font-size: 20px;
  color: rgb(40,40,40)
}

.a7{
  font-size: 20px;
    color: 	rgb(16,16,16)
}

.a8{
  font-size: 20px;
  color: 	rgb(16,16,16)
    
}

.a9{
  font-size: 20px;
  color: 	rgb(16,16,16)
  
}

